body{
  background: linear-gradient(120deg, rgb(47, 47, 47), #1f1f1f);
  overflow: hidden;
}
.content{
  height: 100vh;
}
/* MAIN PAGE */
.mainPage{
  height: 100%;
  width: 100%;
  display: inline-block;
  transform: translateX(0vh);
  transform: translateY(0vh);
  transition: transform 0.3s ease-in-out;
}
.mainPage.show {
  transform: translateY(-100vh);
}
h1 {
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 180px;
  font-family: 'Inconsolata', monospace;
}
hr{
  margin-top: 35px;
  margin-bottom: 35px;
  width: 700px;
}
p{
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Inconsolata', monospace;
  margin: auto;
  font-size: 20px;
  width: 675px;
  color: white;
}
/*#download-button-div{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}*/
#app-title-text-container{
  margin: 0 auto;
  width: 60%;
}
#main-page-buttons{
  display: flex;
  margin: 0 auto;
  height: 60px;
  width: 825px;
}
button{
  background: linear-gradient(120deg, rgb(22, 212, 57), #3d3d3d);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;

  border: 1px solid white; 
  border-radius: 9999px;

  text-align: center;
  line-height: 24px;
  color: white;
  cursor: pointer;

  font-size: 20x;
  font-weight: bold;
  font-family: 'Inconsolata' ,sans-serif;
  letter-spacing: 3px;
  
  width: 250px;
  height: 40px;
  margin: 30px auto 0px auto;
}
button:hover{
  background-position: 0 0;
}
#enter-playlist-url {
  color: white;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  margin-bottom: 10px;
}
#input-container {
  display: block;
  background-color: #383838;
  padding: 20px 30px 30px 30px;
  margin: 50px auto 0px auto;
  width: 600px;
  align-items: center;
  border-radius: 20px;
}
input[type="text"] {
    width: 97%;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    letter-spacing: 0px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 4px 0px 4px 12px;
}
#retrieve-data-button{
  width: 190px;
}
/* TABLE PAGE */
.tablePage{
  /*background: hsl(0, 0%, 10%);*/
  height: 100%;
  width: 100%;
  display: inline-block;
  transform: translateX(0vh);
  transform: translateY(0vh);
  transition: transform 0.3s ease-in-out;
}
.tablePage.show {
  transform: translateY(-100vh);
}

#table-page-title-container{
  margin: 0 auto;
  width: 60%;
}

#go-back-button-container{
  margin: 35px auto 0px auto;
  height: 60px;
  width: 325px;
}
#export-button-container{
  margin: 0 auto;
  height: 60px;
  width: 325px;
}

#playlist-title{
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 25px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}
#playlist-count{
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 15px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}
table{
  margin: 0px auto;
  width: 100%;
  border-collapse: collapse;
}
#table-container {
  overflow-y: auto;
  margin: 15px auto 0 auto;
  width: 1100px;
  height: 550px;
  background-color: #282828;
  border-radius: 10px;
}
#table-container::-webkit-scrollbar {
  width: 10px;
}

#table-container::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 10px;
}
thead {
  color: white;
  font-family: 'Inconsolata', sans-serif;
}
tbody{
  color: white;
}

th {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
td {
  padding: 6px 3px 3px 3px;
  text-align: left;
  color: white;
}
td:first-child {
  border-top-left-radius: 3px; 
  border-bottom-left-radius: 3px;
}
td:last-child {
  margin-top: 13px;
  border-top-right-radius: 3px; 
  border-bottom-right-radius: 3px; 
}
#table-row:hover {
  background-color: #1f1f1f;
}
.center-element {
  display: flex;
  justify-content: center;
}